/* common section  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* navigation section  */
.navigation{
    font-weight: 800;
}

/* package section */
.round-border{
    border-radius: 10px;
}
.btn-lightpink{
    background-color: #dba1c67c;
}